.logo_img {
  font-family: var(--fire);
  color: var(--variable-name);
  font-size:16px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}
.logo {
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
}
.Navbar {
  height: 56.191px;
  border: 1px solid #1e2d3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  width:100%;
  padding:0 10px;
  background-color: var(--bg-color);
  position: sticky;
  bottom: 0;

}
.nm{
  color:var(--variable-name)
}
.nav_list {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}
.nav_items {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav_items_contact {
  margin: 0 15px;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav_links_footer {
  padding: 0 10px;
  text-decoration: none;
  color: var(--text-color);
}
.nav_links_footer svg {
  font-size: 1.2rem;
  transition: all .4s;

  
}
.nav_links_footer svg:hover {
color:var(--variable-name)  ;
transform: rotate(360deg);

}
.author p{
  color:var(--text-color);
}


@media  (max-width: 668px) {
  .nav_links_footer svg {
    font-size: .9rem;
  }
  .logo_img{
    font-size:.9rem
  }
  .Navbar{
    flex-direction: column;
    
  }
  .author p{
    color:var(--text-color);
    font-size: 12px;
  }
  .Navbar p{
    padding:5px;
  }
  
}
