.content {
  display: flex;
  flex-direction: column;
}
.greeting {
  color: var(--white-title);
  font-size: var(--text-size);
  font-family: var(--fire);
}
.name {
  font-size: var(--name-title);
  font-family: var(--fire);
  color: var(--white-title);
  font-weight: 400;
  line-height: normal;
  font-style: normal;
}
.role {
  font-family: var(--fire);
  color: var(--blue-title);
  font-size: var(--des-title);
}
.Home_section {
  align-items: center;
}
.hero_img {
  width: 70%;
}
.number {
  color: var(--text-color);
}
.datatype {
  color: var(--blue-title);
}
.variable {
  color: var(--variable-name);
}
.data {
  color: var(--data-color);
}

.bg1 svg {
 
  fill: #43d9ad;
    width: 500px;
    filter: blur(87px);
    position: absolute;
    transform: rotate(-94.305deg);
    top: -150px;
    left: -80px;
}
.bg2 svg {
  transform: rotate(13.508deg);
  flex-shrink: 0;
  fill: #4d5bce;
  width: 500px;
  top: 106px;
  left: 216px;

  filter: blur(87px);
  position: absolute;
}
